@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #47b2e4;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Jost", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: white;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
}
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

/** page **/
.cssloader {
  padding-top: calc(45vh - 25px);
}

/** loader **/
.sh1 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 0;
  border-color: #ba06e7 transparent transparent transparent;
  margin: 0 auto;
  animation: shk1 1.5s ease-in-out infinite normal;
}

.sh2 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 50px;
  border-color: transparent  transparent #f607ae transparent ;
  margin: -50px auto 0;
  animation: shk2 1.5s ease-in-out infinite alternate;
}

/** animation starts here **/
@keyframes shk1 {
  0% {
    transform: rotate(-360deg);
  }  
  
  100% {
  }
}

@keyframes shk2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
  }
}

.lt {
  color: rgb(112, 12, 206);
  font-family: QuickSand;
  margin: 24px auto;
  text-align: center;
  font-weight: 100;
  letter-spacing: 10px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #f604ae;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #f202fa;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  /* border-bottom: 1px solid #e8e8e8; */
  background: white;
}

#header.header-scrolled, #header.header-inner-pages {
  background: #fffffff2;
  box-shadow: 0 -8px 17px #000000;
  height: 62px;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding-left: 20px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}
.header-button{
  background: #F90991;
  margin-right: 66px;
  padding: 7px 24px;
  margin-left: 20px;
  color: white;
  font-family: QuickSand;
  font-weight: bold;
  border-radius: 50px;
  font-size: 16px;
}
.header-button:hover{
  color: white;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  color: #727272;
  transition: 0.3s;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-family: Quicksand;
}


.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  
}
.nav-menu ul li:first-child a,.nav-menu ul li:nth-child(2) a{
  float: left;
  position: relative;
  left: -400px;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #0c3c53;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #47b2e4;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}


/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  top: 20px;
  right: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: rgb(248, 8, 100);
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #f90991;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
  font-family: QuickSand;
}

.mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #cf04f3;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(40, 58, 90, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  background: url("./images/background\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#hero .container {
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  color: #2a2a2ae3;
  font-family: QuickSand;
}

#hero h2 {
  color: rgb(21 20 21);
  margin-bottom: 50px;
  font-family: QuickSand;
  font-size: 15px;
  margin-top: 39px;
  line-height: 31px;
  font-weight: 500;
}

#hero .btn-get-started,.skills a {
  font-family: QuickSand;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 16px 42px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  list-style: none;
  color: #fff;
  background: #730875;
  border: 2px solid transparent;
}
.skills a:hover{
  color: #730875;
  transition: ease-in-out 0.4s;
  border: 2px solid  #730875;
  text-decoration: none;
  background: transparent;
}
#hero .btn-get-started:hover {
  font-family: QuickSand;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 16px 42px;
  border-radius: 50px;
  margin: 10px 0 0 0;
  list-style: none;
  color: #fff;
  background: #77077a6b;
  transition: ease-in-out 0.4s;
  text-decoration: none;
  border: 2px solid white;
}

#hero .btn-watch-video {
  font-size: 16px;
  display: inline-block;
  padding: 10px 0 8px 40px;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: #fff;
  position: relative;
}

#hero .btn-watch-video i {
  color: #fff;
  font-size: 32px;
  position: absolute;
  left: 0;
  top: 7px;
  transition: 0.3s;
}

#hero .btn-watch-video:hover i {
  color: #47b2e4;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
  #hero .btn-watch-video {
    font-size: 16px;
    padding: 10px 0 8px 40px;
    margin-left: 20px;
  }
  #hero .btn-watch-video i {
    font-size: 32px;
    top: 7px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 41px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #0c0c0cd4;
  font-family: QuickSand;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# What Ican page
--------------------------------------------------------------*/
.skills{
  margin-top: 58px;
}
.skills .content h3 {
  font-weight: 700;
  font-size: 64px;
  color: #414141;
  font-family: QuickSand;
}

.skills .content p {
  font-weight: 500;
  font-family: QuickSand;
  font-size: 15px;
  margin-top: 55px;
}

.skills  ul {
  list-style: none;
  padding: 0;
}

.skills ul li {
  padding-bottom: 10px;
    font-family: QuickSand;
    font-weight: bold;
    color: #414141;
}
.skills ul li i{
  color: #f35d2a;
  font-size: 22px;
}

/*--------------------------------------------------------------
# What I am experienced In
--------------------------------------------------------------*/

.what-experience h3{

}
#mg-experience{
  font-size: 18px;
}
.what-experience .mg-commenting{
  font-family: QuickSand;
  color: #f90991;
  font-size: 13px;
  background: #f909911c;
  padding: 16px 25px;
  margin-top: 28px;
}
.skills .progress {
  height: 50px;
  display: block;
  background: none;
  margin-top: 32px;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  display: block;
  font-weight: 600;
  font-family: QuickSand;
  color: #414141;
  font-size: 15px;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #FFC507;
    width: 425px;
    border-radius: 30px;
}

.skills .progress-bar {
  width: 0px;
  height: 14px;
  transition: .9s;
  background-color: #FF6A07;
  border-radius: 0px;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact{
  margin-top: 200px;
  font-family: QuickSand;
  font-weight: 500;
}
.contact .info {
  border-top: 3px solid #ff6a07;
  border-bottom: 3px solid #ffc507;
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px rgb(0 0 0 / 23%);
}

.contact .info i {
  font-size: 20px;
  color: #f90991;
  float: left;
  width: 44px;
  height: 44px;
  background: #ffc507;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #af03c4;
  font-family: Josefin sans;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #0a0a0acc;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background:#fe6a07;
  color: #fff;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #fe6a07;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  border-top: 3px solid #f46507;
  border-bottom: 3px solid #ffc507;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px rgb(0 0 0 / 19%);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #47b2e4;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #b108c5;
    border: 0;
    padding: 12px 34px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #ffc507;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*
                                                    SKILLS PAGE OF NTWARI EGIDE COPYRIGHT RESERVED
*/
#skillsWelcome{
  padding-top: 94px;
  padding-left: 35px;
}
#skillsWelcome h1{
  font-family: QuickSand;
  font-weight: bold;
  font-size: 48px;
  color: #000000b8;
  margin-bottom: 32px;  
}
#skillsWelcome h2{
  font-family: QuickSand;
  font-size: 17px;
  line-height: 22px;
  margin-top: 17px;
  color: #474747;
}
#skillsWelcome a,#firstDesign a,.my-button{
    color: white;
    background: #f90991;
    padding: 11px 35px;
    font-family: QuickSand;
    border: 1px solid  #f90991;
    border-radius: 40px;
    margin-top: 35px;
    text-decoration: none;
}
#skillsWelcome a:hover,#firstDesign a:hover,.my-button:hover {
  border: 1px solid  #f90991;
  background:  #f9099146;
  color:  #f90991;
  transition: ease-in-out 0.3s;
  text-decoration: none;
}

/*
#  BackEndDevelopment
*/
#firstDesign{
  background: #efefef66;
  font-family: Josefin sans;
  padding-top: 0;
  padding-left: 35px;
  margin-top: 0;
  padding-bottom: 7px;
  margin-top: 70px;
}
#firstDesign h2{
  font-family: Josefin sans;
  font-size: 36px;
  color: #000000c7;  
}
#firstDesign p{
  font-family: QuickSand;
    margin-top: 25px;
    width: 81%;
}
#firstDesign .skills div{
  border: 1px solid #00000017;
  width: 50%;
  height: 193px;
  margin-top: -54px;
  margin-bottom: 54px;
  padding: 47px;
  background: #e9ecef;
  font-weight: bold;
}
 #firstDesign .skills div img{
  height: 67px;
  margin-right: 31px;
  filter: grayscale(1);
} 

#firstDesign .skills div:hover img{
  filter: blur(0);
}
.content-tobe-center{
  padding-top: 88px;
}

/*
                                                    ABOUT ME PAGE OF NTWARI EGIDE COPYRIGHT RESERVED
*/
.about .welcome-content{
  background: url("./images/aboutmeCover.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 85vh;
  padding-top: 103px;
}
.about .welcome-content h2{
  font-family: QuickSand;
  color: white;
  font-size: 39px;
}
.about .welcome-content p{
  margin-top: 39px;
  width: 453px;
  font-family: QuickSand;
  color: white;
  font-weight: 300;
}
.about .welcome-content .written-by{
  text-align: right;
  font-weight: bold;
}
.education-background{
  padding: 27px;
}
.education-background h1{
  font-family: QuickSand;
  font-weight: 600;
  margin-left: 49px;
  color: #000000c7;
}
.education-background .row div{
  margin-top: 61px;
  box-sizing: border-box;
  box-shadow: 0 0 12px #0000002e;
  border-radius: 5px;
  padding-bottom: 40px;
  padding-left: 35px;
  padding-right: 41px;
}
.education-background h2{
  margin-top: 35px;
  font-family: QuickSand;
  font-size: 19px;
}
.education-background img,.education-background iframe{
  height: 309px;
  width: 405px;
  margin: 25px 0;
  filter: brightness(0.5);
}
.education-background p{
  font-family: QuickSand;
    font-size: 13px;
}
.education-background p span{
  font-weight: bold;
  color: #f90991;
}
.contact-infos {
  background: url("./images/aboutMeCover2.png");
  background-size: cover;
  width: 1211px;
  height: 300px;
  margin: 151px 0;
}
.contact-infos h2{
  font-family: QuickSand;
  margin-left: 44px;
  font-weight: bold;
  font-size: 41px;
  color: #000000a6
}
.contact-infos ul{
  margin-top: 38px;
}
.contact-infos ul li{
  list-style: none;
  font-family: Josefin sans;
  margin-left: -33px;
  font-size: 21px;
}

/*
                                                   ACHIEVEMENTS PAGE OF NTWARI EGIDE COPYRIGHT RESERVED
*/
#achievements{
  background: url("./images/achievementsCover.png");
  background-size: cover;
  height: 72vh;
  background-repeat: no-repeat;
    padding-top: 118px;
    padding-left: 104px;
    background-color: white;
    margin-bottom: 12px;
}
#achievements img{
  display: none;
}
#achievements h2{
  font-family: QuickSand;
  font-size: 47px;
  font-weight: bold;
  color: #ffffffd6;
}
#achievements p{
  font-family: QuickSand;
  width: 619px;
  margin-top: 52px;
  color: #ffffffd6;
}

.education-background div ul li{
  font-family: QuickSand;
  list-style: square;
}
.education-background div .issued-by span{
  font-weight: bold;
  color: #f9af09;
}
.education-background div .time span{
  color: #00804b;
  font-weight: bold;
}
#header a:hover{
  color: black;
  text-decoration: none; 
}
#header a:active{
  color: rgb(255, 0, 119);
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  background: #f46507;
  font-family: QuickSand;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
  border-top: 3px solid #f46507;
  margin-top: 147px;
}
#footer img{
  width: 173px;
  margin-bottom: 35px;
}
.social-links a i{

}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer form input{
  margin-bottom: 8px;
  padding: 9px 5px;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 5px;
  outline-color: #ffc507;
}
#footer form textarea{
  margin-bottom: 8px;
  padding: 9px 5px;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 5px;
  outline-color: #ffc507; 
}
#footer form button{
  background: #b803cf;
  color: white;
  padding: 12px 73px;
  border: none;
  border-radius: 35px; 
}
#footer form button:hover{
  background: #ffc507;
  transition: ease-in-out 0.4s;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: QuickSand;
  color: #5e5e5e;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fd3280;
  position: relative;
  padding-bottom: 12px;
  font-family: Josefin sans;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #f07808;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #d47a04;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #ffc507;
    color: #f90991;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #f34703;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #fff;
}

#footer .copyright {
  float: left;
}

#footer .credits {
  float: right;
  font-size: 13px;
}

#footer .credits a {
  transition: 0.3s;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #footer .copyright, #footer .credits {
    text-align: center;
    float: none;
  }
  #footer .credits {
    padding-top: 4px;
  }
}

.worning-msg{
  box-shadow: 0 0 24px #302f2f42;
  padding: 10px 30px;
  width: 50%;
  border: transparent;
  border-top: 5px solid #ff8507;
  border-bottom: 3px solid #ffc107;
  margin-top: 30px;
  position: relative;
  left: 300px;
}
.worning-msg p{
  font-family: monospace;
}
.worning-msg i{

}