@media (max-width: 575px) {
    /*--------------------------------------------------------------
    #                                  WELCOME PAGE
    --------------------------------------------------------------*/

    #header .logo img {
        max-height: 25px;
    }
    .header-button {
        display: none
    }
    #hero{
        background: url("../src/images/welcome-back-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #hero h1{
        font-size: 125%;
        line-height: 168%;
        margin-top: 124px;
        margin-bottom: -15px;
    }
    #hero h2 {
        font-size: 73%;
        line-height: 147%;
    }
    #skills .content h3{
        font-size: 200%;
        margin-top: 0;
        text-align:center;
    }
    #skills{
        margin-bottom: -200px;
        margin-top: 122px;
    }
    #skills a{
        margin-left: 19%;
    }
    #skills .progress-bar-wrap{
        width: 290px;
    }
    .section-title h2{
        font-size: 180%;
        margin-top: 0;
    }
    .contact .php-email-form textarea{
        height: 130px;
    }
    .contact .php-email-form input{
        height: 30px;
    }

    /*--------------------------------------------------------------
    #                                  ABOUT ME PAGE
    --------------------------------------------------------------*/

    .education-background img, .education-background iframe{
        width: 110%;
        height: 32%;
    }
    .about .welcome-content {
        height: 100vh;
        background: url("../src/images/aboutmeCover-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .about .welcome-content h2{
        text-align: center;
        margin-top: 45%;
    }
    .about .welcome-content  .written-by{
        text-align: center;
        font-weight: bold
    }
    .about .welcome-content p{
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    .education-background h1{
        font-size: 200%;
        margin: 0;
        text-align: center;
    }
    .education-background .row div{
        height: 100%;
        padding-bottom: 26px;
    }




    .contact-infos {
        display: none;
    }

    /*--------------------------------------------------------------
    #                                   SKILLS PAGE
    --------------------------------------------------------------*/
      #skillsWelcome{
        padding: 0 10px;
        padding-top: 62px;
        height: 100vh;
      }
      #skillsWelcome img{ 
        height: 91%;
        width: 100%; 
      }
      #skillsWelcome h1{ 
        font-size: 150%;
        text-align: center;
        margin: 0; 
      }
      #skillsWelcome h2{
        text-align: center;
        font-size: 86%;
        padding-bottom: 26px;
      }
      #skillsWelcome a
      {
        font-size: 88%;
        margin-bottom: 23px;
        position: relative;
        left: 19%;
      }
    #firstDesign{
        padding: 0 19px;
        padding-bottom: 14px;
    }
    #firstDesign h2{
        font-size: 150%;
        text-align: center;  
    }
    #firstDesign p{
        text-align: center;
        padding: 0;
        margin: 27px;
        margin-bottom: 27px;
    }
    #firstDesign .skills p{
        margin: 0;
    }
    #firstDesign .skills div{
        height: 189px;
    }
     #firstDesign .skills div img{
        height: 35%;
    }
    #firstDesign a{
        position: relative;
        left: 24%;
        margin: 0;
    }


    /*--------------------------------------------------------------
    #                                   ACHIEVEMENTS PAGE
    --------------------------------------------------------------*/

    #achievements{
        background: none;
        background-size: cover;
        height: 72vh;
        background-repeat: no-repeat;
        width: 71%;
        padding: 0 32px;
        padding-top: 69px;
        margin-bottom: 67px;
      }
      #achievements h2{
        font-size: 145%;
        text-align: center;
        padding: 0;
        margin-top: 21%;
        margin-left: 24%;
        color: rgba(0, 0, 0, 0.76);
      }
      #achievements p{
        width: 157%;
        text-align: center;
        margin-bottom: 40px;
        color: rgba(0, 0, 0, 0.76);
      }

      .worning-msg{
        display: block;
        position: relative;
        left: 0;
        width: 100%;
    }
}
